#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}
.fa {
    line-height: 42px;
    font-size: 32px;
}
.paginateRight{
  text-align: right;
}
